@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.beam {
  height: 25px;
  width: 0px;
  background: rgb(29, 19, 234);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 100px 10px rgba(51, 94, 235, 0.5);
}

.crown{
  background: brown;
  height: 40px;
  width: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hilt{
  border-radius: 10px;
  width: 150px;
  height: 30px;
  background: grey;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
}

.lightsaber{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 550px;
  cursor: pointer;
  margin-top: 100px;
  transition: 600ms;
}

.lightsaber:hover > .beam{
  animation: beam 1s forwards;
}

.stripes{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-inline: 30px;
}

.parts{
  height: 39px;
  border: solid 1px black;
}

.part-circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(78, 45, 45);
}

@keyframes beam {
  0%{
    width: 0px;
  }
  100%{
    width: 350px;
  }
}



#sketch-board-con {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  position: relative;
}

#sketch-board {
  margin-top: 20px;
  position: relative;
  transform: translateY(0);
  animation: moveRobot 2s infinite ease;
}

#head {
  width: 166px;
  height: 150px;
  border: 3px solid #000;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 -10px #aac;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

#lens {
  background-color: #007;
  width: 140px;
  height: 85px;
  border-radius: 50%;
  margin-top: 6px;
  position: relative;
  display: flex;
  align-items: center;
}

#lens::after,
#lens::before {
  content: "";
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
  width: 85px;
  height: 70px;
  bottom: 2px;
  z-index: 1;
}

#lens::after {
  right: 0;
}

#lens::before {
  left: 0;
}

#upper-shadow {
  width: 94%;
  height: inherit;
  box-shadow: inset 0 4px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 3px;
  transform: translateX(3%);
}

#rect {
  position: absolute;
  background-color: #fff;
  width: 48px;
  height: 10px;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
}

#eyes {
  position: absolute;
  width: 70%;
  height: 50%;
  transform: translateX(-50%);
  left: 50%;
  top: 28px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;     
  filter: drop-shadow(0 0 5px #09f)
  drop-shadow(0 0 10px #09f)
  drop-shadow(0 0 15px #09f);
}

#eyes::after,
#eyes::before {
    content: "";
    width: 20px;
    height: 10px;
    background-color: #0ef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#ear {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  width: 197px;
  height: 60px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 16px;
  z-index: 1;
  box-shadow: inset 0 -10px #aac;
}

#ear-antenna {
  width: 100%;
  height: 100%;
  position: relative;
}

#ear-antenna::after,
#ear-antenna::before {
  content: "";
  width: 10px;
  height: 35px;
  background-color: #0ef;
  position: absolute;
  transform: translateY(-100%);
  border: 3px solid #000;
}

#ear-antenna::before {
  left: 7px;
  border-top-left-radius: 40px;
  box-shadow: inset -2px 0 0 2px #08c;
}

#ear-antenna::after {
  right: 7px;
  border-top-right-radius: 40px;
  box-shadow: inset 2px 0 0 2px #08c;
}

#small-cap {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 47px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 15px;
}

#bodies {
  width: 126px;
  height: 170px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #000;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  overflow: hidden;
  box-shadow: inset 0 -10px rgba(100, 100, 100, 0.4);
}

#shadow-box {
  width: 100%;
  height: 40%;
  border-radius: 50%;
  box-shadow: 0 18px #bebed6;
}

#pocket-area {
  width: 150%;
  height: 60%;
  margin-top: 45px;
  border: 3px solid #000;
  border-radius: 50%;
  margin-left: -25%;
  position: relative;
}

#pocket {
  width: 60px;
  height: 50px;
  background-color: #0cf;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #000;
  top: -20px;
  border-radius: 10px 10px 50% 50%;
  box-shadow: inset 0 -8px rgba(100, 100, 100, 0.4);
}

#hands {
  position: absolute;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  top: 34%;
  left: 50%;
  transform: translateX(-50%);
}

.hand {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transform: rotate(35deg);
}

.hand::before {
  content: "";
  width: 40px;
  height: 90px;
  background-color: #fff;
  box-shadow: inset -10px 0 #aac;
  border-radius: 40%;
  border: 3px solid #000;
}

.hand:last-child {
  transform: rotate(240deg);
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  50% {
      transform: rotate(280deg);
  }
}

#robot-shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.7);
  width: 100px;
  height: 30px;
  background-color: #abd;
  border-radius: 50%;
  animation: robotShadow 2s infinite ease;
}

@keyframes robotShadow {
  50% {
      transform: translateX(-50%) scale(1);
  }
}

@keyframes moveRobot {
  50% {
      transform: translateY(50px);
  }
}




.wrapper {
  width: 150px;
 height: 150px;
 margin: 50px auto;
 background: #2e3335;
 background: linear-gradient(#2e3235, #181b1e);
 border-radius: 15px;
 border: 1px solid rgba(0,0,0,0.3);
 box-shadow:
   0 0 10px rgba(0,0,0,0.4),
   0 5px 10px 3px rgba(0,0,0,0.2),
   inset 0 1px 0 rgba(255,255,255,0.2);
}

ul {
  position: relative;
 height: 100%;
 width: 100%;
}

.custom-list ul {
  position: relative;
  height: 100%;
  width: 100%;
}

.custom-list li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border: 3px solid #16191c;
  background: #222529;
  box-shadow: 
    inset 0 1px 0 rgba(255,255,255,0.1),
    inset 0 -2px 1px rgba(0,0,0,0.1),
    0 1px 1px rgba(255,255,255,0.1);
  cursor: pointer;
}

.custom-list li:hover {
  box-shadow:  
    inset 0 1px 0 rgba(255,255,255,0.1),
    inset 0 -2px 1px rgba(0,0,0,0.1),
    0 1px 1px rgba(255,255,255,0.1),
    inset 0 20px 50px rgba(100,100,100,0.1);
}

.custom-list li span {
  display: block; 
}

.triangle {
  left: 50%;
 margin-left: -25px;
 top: 8px;
}

.cross {
  left: 50%;
 margin-left: -25px;
 bottom: 8px;
}

.square {
  top: 50%;
 margin-top: -25px;
 left: 8px;
}

.circle {
  top: 50%;
 margin-top: -25px;
 right: 8px;
}

.square span {
  border: 5px solid #d49ac0;
 width: 100%;
 height: 100%;
 transform: scale(0.55);
}

.circle span {
  border: 5px solid #eb5535;
 height: 100%;
 width: 100%;
 transform: scale(0.6);
 border-radius: inherit;
}

.cross span {
  position: relative;
 width: 100%;
 height: 100%;
}

.cross span:after,
.cross span:before {
  content: "";
 width: 0;
 height: 100%;
 border: 2px solid #8d95c7;
 position: absolute;
 transform: scale(0.55) rotate(45deg);
 left: 50%;
 margin-left: -2px;
 margin-top: -2px;
}

.cross span:after {
  transform: scale(0.55) rotate(-45deg); 
}

.triangle span {
  width: 0; 
 height: 0; 
 border-left: 17px solid transparent;
 border-right: 17px solid transparent;	
 border-bottom: 28px solid #1d6f56;
 margin-left: 5px;
 margin-top: 5px;
 position: relative;
 transform: scale(0.9);
} 

.triangle span:after {
  content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 border-left: 17px solid transparent;
 border-right: 17px solid transparent;	
 border-bottom: 28px solid #2e3335;
 left: -17px;
 top: 2px;
 transform: scale(0.65);
}






.container {
  text-align: center;
}

.mockup {
  display: inline-block;
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 0;
  perspective: 2400px;
  perspective-origin: 50% 100%;
  opacity: 0;
  transition: 500ms opacity;
}

.mockup.loaded {
  opacity: 1;
}

.mockup .part .top,
.mockup .part .bottom {
  position: absolute;
  top: 0;
  left: 0;
}

.mockup .part.top {
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup:hover .part.top {
  transform: translate3d(0, 0, 0) rotateX(0deg);
}

.mockup .part {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  transition: 900ms;
}

.mockup.opened .part .top {
  transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
}

.mockup .part .top {
  transform-origin: 50% 0;
  transform: translate3d(0, 0, -11px) rotateX(90deg);
  transition: 900ms;
}

.mockup img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
}

.mockup .part .cover {
  position: relative;
}

.mockup video {
  display: block;
  position: absolute;
  top: 8%;
  left: 4%;
  width: 92%;
  border-radius: 6px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 1px);
}

.mockup .part.bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup .part .bottom {
    transform-origin: 50% 0;
    transform: translate3d(0,0,0) rotateX(90deg);
}